@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Barlow';
  font-weight: 400;
}

/* Header Styling */

.masthead {
  padding-top: 4rem;
  padding-bottom: 14rem;
  background: url("/assets/images/background.jpeg") bottom no-repeat;
  background-size: cover;
}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 16rem;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: 4rem;
    padding-bottom: 14rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
  
/* Footer Styling */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.social-networks {
  text-align: center;
  margin: 0;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 2%;
  color: #777;
}

.copyright {
  height: 25px;
  background-color: #ccc;
  color: #777;
  text-align: center;}