@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');

/* ==========
GENERAL
========== */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Barlow', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ul {
  list-style: none;
}

/* ==========
HEADER
========== */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 1vmin;
}

h4 {
  font-size: 27px;
  font-weight: 400;
  margin: 1vmin;
}

h5 {
  text-align: center;
  font-weight: 400;
  margin: 1vmin;
}

hr {
  width: 40vmin;
  height: 3px;
  margin: 1.25vmin;
  border-top: 10px;
  border-bottom: 10px;
  border-radius: 10px;
  background-color: #000;
}

#gallery-heading {
  margin-bottom: 3%;
}

/* ==========
CALLOUT BANNER
========== */

.callout-container {
  height: 100vh;

  background: url("../images/background-images/bg_callout.jpeg") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  display: flex; 
  align-items: flex-start;
  justify-content: center;
}

.callout {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6vmin;
}

.avatar {
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
  margin-bottom: 2vmin;
}

.callout h1 {
  font-size: 7vmin;
  font-weight: 700;
  margin: 1vmin;
}

.callout h3 {
  font-size: 5vmin;
  font-weight: 500;
  margin: 1vmin;
}

.callout hr {
  background-color: #fff;
  margin: 1.25vmin;
}

/* ==========
MAIN CONTENT
========== */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.main-content h4 {
  padding-bottom: 20px;
}

.main-content p {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0;
  margin: 0;
}

.main-content img {
  width: 95%;
  padding-top: 10px;
}


/* ==========
GALLERY
========== */

/***************************************************************************************
*    Title: How to create a responsive image gallery with CSS flexbox
*    Author: Ibadehin Mojeed
*    Date: 30 May 2022
*    Availability: https://blog.logrocket.com/how-create-responsive-image-gallery-css-flexbox/
***************************************************************************************/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery li {
  flex-basis: 340px;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

/* ==========
FORM
========== */

.form {
  color: #fff;
  background: url("../images/background-images/bg_form.jpeg") no-repeat bottom center;
  background-size: cover;
  margin-top: 10px;
}

.center-form {
  margin: 0 auto;
  max-width: 75%;
}

.center-form, input, textarea {
  margin: 5px;
}

button[type="submit"] {
  margin: 10px;
  color: #fff;
  background-color: #708090;
}

/* ==========
BACK TO TOP BUTTON
========== */

#to-top-btn {
  position: fixed;
  font-size: 160%;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  padding: 3%;
  color: hsla(0, 0%, 83%,.9);
}

/* ==========
FOOTER
========== */

footer {
  text-align: center;
  margin-top: auto;
}

.social-networks ul {
  margin: 0;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 0;
  padding: 3%;
  color: #708090;
}

.social-networks i:hover {
  color: #696969;
}

.social-networks a:hover {
  text-decoration: none;
}

.copyright {
  height: 24px;
  background-color: #d3d3d3;
  color: #3f3f3f;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

/* ==========
MEDIA QUERIES
========== */

@media (max-width:480px) {
  /* Form */
  .form {
    height: 80vmax;
    padding: 30px;
  }
  
  .center-form {
    min-height: 240px;
    margin: 0 auto;
    max-width: 100%;
  }

  /* Main Content */
  .main-content p {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* Form */
  .form {
    height: 80vmax;
    padding: 30px;
  }
  
  .center-form {
    min-height: 240px;
    margin: 0 auto;
    max-width: 80%;
  }

  /* Main Content */
  .main-content p {
    width: 85%;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Header */
  h2 {
    font-size: 40px;
  }
  
  h4 {
    font-size: 30px;
  }

  /* Form */
  .form {
    height: 75vmax;
    padding: 30px;
  }
  
  .center-form {
    min-height: 240px;
    margin: 0 auto;
    max-width: 60%;
  }

  /* Main Content */
  .main-content p {
    width: 80%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Header */
  h2 {
    font-size: 40px;
  }
  
  h4 {
    font-size: 30px;
  }

  /* Form */
  .form {
    height: 75vmin;
    padding: 30px;
  }
  
  .center-form {
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
  }

  /* Main Content */
  .main-content p {
    width: 75%;
  }

  /* Back to Top Button */
  #to-top-btn i:hover {
    color: hsla(210, 13%, 50%,.8)
  }
}

@media (min-width: 1200px) {
  /* Header */
  h2 {
    font-size: 44px;
  }
  
  h4 {
    font-size: 33px;
  }

  /* Form */
  .form {
    height: 75vmin;
    padding: 30px;
  }
  
  .center-form {
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
  }

  /* Main Content */
  .main-content p {
    width: 70%;
  } 

  /* Back to Top Button */
  #to-top-btn i:hover {
    color: hsla(210, 13%, 50%,.9)
  }
}