@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* ----------------------------------------Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.social-networks {
  text-align: center;
  margin: 0;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 2%;
  color: #777;
}

.copyright {
  height: 25px;
  background-color: #ccc;
  color: #777;
  text-align: center;}